In [1]:
from pyspark.sql import *
import pandas as pd
import numpy as np

In [2]:
spark = SparkSession\
    .builder\
        .appName("pyspark-test-app")\
            .getOrCreate()

In [13]:
df = spark.read.csv("./data/userdata.csv", header="true", inferSchema="true")
df.describe().show()
df.createOrReplaceTempView("users")

In [14]:
sql = """ select gender, AVG(age) as average_age from users group by gender"""
query = spark.sql(sql)
query.toPandas()

   gender  average_age
0  female    51.000000
1    male    37.333333